/*  CSS pro homepage uživatele student */
body {
    color: rgb(183, 183, 186);
    font-family: Arial, sans-serif;
    font-size:large;
    background: rgb(70, 69, 69);
}
h1 {
    color: rgb(244, 242, 240);
    text-decoration: underline;
}
h1.mujnadpis {
    color: rgb(229, 221, 212);
    text-decoration: none;

}
p.middle {
    text-align: center;
    background: white;
}

ul {
    font-size: large;
}

a {
    color: red;
    text-decoration: none;
}
a:hover {
    background: yellowgreen;
}
#cas {
    color:darkgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-shadow: lightgray;
    padding: 1ex;
}
input {
    margin-top: 1em;
    margin-bottom: 1em;
}